* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: "Poppins", sans-serif; background: #2c2c2c; color: white; text-align: center;}

.link-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.link-button {
    display: box;
    justify-content: center; /*flex and justify-content always together to center font!*/
    
    width: 600px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    background: #eee;
    color: #000;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}